a {
    text-decoration: none;
}
.inventory img {
    padding-top: 3rem;
}
.add-btn {
    margin-top: 11rem;
}
.submit-btn {
    margin-left: 14rem;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.valid {
    border-color: green;
}
.invalid {
    border-color: red;
}
