a {
    text-decoration: none;
}
.inventory img {
    padding-top: 3rem;
}
.done-shopping {
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
}

.add-btn {
    margin-top: 11rem;
}
.submit-btn {
    margin-left: 14rem;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.valid {
    border-color: green;
}
.invalid {
    border-color: red;
}

.main {
    padding: 0 !important;
    margin: 0 !important;
}

.mess {
    font-size: 2rem;
}
